@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@400;700&family=Roboto:ital,wght@0,400;1,300&display=swap");

$font-first: "Montserrat", sans-serif;
$font-second: "Roboto", sans-serif;
$font-third: "Kaushan Script", cursive;
